@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);
    --main-heading: hsl(0, 0%, 100%);
    --text-secondary: hsla(0, 0%, 100%, 0.75);
    --text-secondary-card: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    color: #fff;
    font-size: 15px;
}

.text-primary {
    color: var(--accent);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 1000px;
    margin: 3.8rem auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

img {
    display: block;
    width: 450px;
}

.column .column-1, 
.column .column-2 {
    width: 100%;   
    height: 100%;
}

.column-1 {
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    max-width: 700px;
    align-items: flex-start;
    padding-left: 3rem;
}

.main-heading {
    /* font-family: 'Inter', sans-serif; */
    font-weight: 700;
    font-size: 2.2rem;
    padding-bottom: 25px;
    line-height: 1;
    text-align: left;
}

.main-paragraph {
    /* font-family: Lexend Deca;  */
    color: var(--text-secondary-card);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 50px;
}

.stats {
    /* font-family: Lexend Deca;  */
    display: flex;
    align-items: center;
}

.stats div {
    margin-right: 50px;
}

.stats div h3 {
    font-size: 20px;
    font-weight: 700px;
}

.stats div p {
    font-size: 12px;
    color: var(--text-secondary-card);
}

